.reset-button{
    display: block;
    margin: 2rem auto;
    padding: 12px;
    background-color: lightseagreen;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}